In [ ]:
# For loop
# While loop

In [4]:
# 1. For loop
range(5)  # 0,1,2,3,4
range(1,5) # 1,2,3,4
range(1,10,2) # 1,3,5,7,9

range(1, 10, 2)

In [11]:
for i in range(2):
    print(i,"Hello World")

0 Hello World
1 Hello World

In [12]:
for i in range(1,2):
    print(i,"Hello World")

1 Hello World

In [13]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [15]:
for i in range(10,1,-2):
    print(i,"Hello World")

10 Hello World
8 Hello World
6 Hello World
4 Hello World
2 Hello World

In [19]:
# WAP to create a multiplication table
n = int(input("Enter a number ="))
for i in range(1,11):
    print(n, "x", i, "=", n*i)

Enter a number = 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [22]:
s = 0
n = int(input("Enter the value of n ="))
for i in range(n):
    x = int(input("Enter the value of x ="))
    s = s + x
    print(s)

Enter the value of n = 3
Enter the value of x = 1000

1000

Enter the value of x = 2000

3000

Enter the value of x = 3000

6000

In [35]:
s = 0
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    s = s + x*1.1
    print(s)

Enter n = 5
Enter x = 1000

1100.0

Enter x = 2000

3300.0

Enter x = 3000

6600.0

Enter x = 4000

11000.0

Enter x = 5000

16500.0

In [44]:
s = ""
k = int(input("Enter k ="))
for i in range(k):
    n = input("Enter student's name =")
    s = s + n + "\n"
    print(s)

Enter k = 3
Enter student's name = Nischal

Nischal

Enter student's name = Ram

Nischal
Ram

Enter student's name = Hari

Nischal
Ram
Hari

In [32]:
# WAP to find sum of all values (from 1 to itself)
# 5 = 1+2+3+4+5
s = 0
n = int(input("Enter a number ="))
for i in range(1,n+1):
    s = s + i
print(s)

Enter a number = 5

15

In [8]:
# WAP to find factorial of numbers
# 5! --> 1*2*3*4*5
s = 1
n = int(input("Enter a number ="))
for i in range(1,n+1):
    s = s*i
print (s)

Enter a number = 5

120

In [15]:
# WAP to store name and phone number of a given people
s = ""
b = int(input("Enter a value ="))
for i in range(b):
    n = input("Enter name =")
    c = input("Enter number =")
    s = s + n + "\t" + c + "\n"
print(s)

Enter a value = 2
Enter name = Nischal
Enter number = 98989
Enter name = Hari
Enter number = 10000

Nischal	98989
Hari	10000

In [19]:
# WAP to create a billing system
# product = ?
# price = ?
# quantity = ?
# total = ?

In [3]:
bill = ""
final_total = 0
n = int(input("Enter n ="))
for i in range(n):
        product = input("Enter product name =")
        price = int(input("Enter price ="))
        quantity = float(input("Enter quantity ="))
        total = price * quantity
        x = product + "\t" + str(price) + "\t" + str(quantity) + "\t"+  str(total) + "\n"
        bill = bill + x
        final_total = final_total + total
print(bill)
print("The total price of the products = Rs.", final_total)

Enter n = 2
Enter product name = pepsi
Enter price = 10
Enter quantity = 2
Enter product name = coke
Enter price = 20
Enter quantity = 2

pepsi	10	2.0	20.0
coke	20	2.0	40.0

The total price of the products = Rs. 60.0

In [ ]:
# Loop on string
a = "Hello, Hi"
for i in a:
    print(i)

In [ ]:
a = "Hello, Hi"
for i in a:
    print(i , end = "")

In [ ]:
a = "Hello! Hi."
for i in a:
    if i != "." and i != "!":
     print(i, end = "")

In [ ]:
# Control statements
# break
# continue
# pass

In [ ]:
a = 5
for i in range(10):
    if i == a:
        break
    print(i)

In [ ]:
a = 5
for i in range(10):
    if i == a:
        continue
    print(i)

In [6]:
a = "Hello World. I am python."
for i in a:
    if i == ".":
        continue
    print(i, end = "")

Hello World I am python