In [ ]:
# Python collections
# List
# Tuple
# Dictionary
# Set

In [ ]:
# Mostly used List
# Supports Indexing
# Is ordered
# Multiple and Duplicate values
# Mutable

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
print(a)
print(b)
print(type(a))
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
<class 'list'>
<class 'list'>

In [8]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
print(b[4])
print(b[0:4])
print(b[0:5:2])

Fish
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [9]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
print(b[-2])

Fish

In [10]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [13]:
a = ["Hello World"]
print(a*4)

['Hello World', 'Hello World', 'Hello World', 'Hello World']

In [16]:
b = ["Apple", "Ball", "Cat"]
for i in b:
    print(i)

Apple
Ball
Cat

In [30]:
l = []
n = int(input("Enter value of n ="))
for i in range(n):
    x = int(input("Enter x ="))
    l = l + [x]
print(l)

Enter value of n = 5
Enter x = 3
Enter x = 5
Enter x = 6
Enter x = 8
Enter x = 9

[3, 5, 6, 8, 9]

In [31]:
print("Min value =", min(l))
print("Max value =", max(l))
print("Sum of value =", sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Min value = 3
Max value = 9
Sum of value = 31
[3, 5, 6, 8, 9]
[9, 8, 6, 5, 3]

In [33]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Aaijo", "Zebra"]
b.sort()
print(b)
b.reverse()
print(b)

['Aaijo', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Zebra']
['Zebra', 'Fish', 'Dog', 'Cat', 'Ball', 'Apple', 'Aaijo']

In [ ]:
# CRUD operation
# Create
# Read
# Update
# Delete

In [34]:
# Create
# append() insert() extend()

In [35]:
#append()
l = []
l.append("Apple")
l.append("Banana")
l.append("Cat")
print(l)

['Apple', 'Banana', 'Cat']

In [36]:
l = []
n = int(input("Enter value of n ="))
for i in range(n):
    x = int(input("Enter x ="))
    l.append(x)
print(l)

Enter value of n = 3
Enter x = 2234
Enter x = 121
Enter x = 567

[2234, 121, 567]

In [41]:
# insert()
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Aaijo", "Zebra"]
b.insert(1, "apple")
print(b)

['Apple', 'apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Aaijo', 'Zebra']

In [42]:
# extend()
a = [1,2,3,4,5]
b = [6,7,8,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# Update
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Aaijo", "Zebra"]
b[0] = b[3]
print(b[0])

Dog

In [46]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Aaijo", "Zebra"]
b[0:2] = ["Sita", "Gita"]
print(b)

['Sita', 'Gita', 'Cat', 'Dog', 'Fish', 'Aaijo', 'Zebra']

In [ ]:
# Delete
# del remove() pop()

In [1]:
#del 
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Aaijo", "Zebra"]
del b[0:4]
print(b)

['Fish', 'Aaijo', 'Zebra']

In [1]:
# remove()
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Aaijo", "Zebra"]
b.remove("Apple")
print(b)

['Ball', 'Cat', 'Dog', 'Fish', 'Aaijo', 'Zebra']

In [1]:
# pop()
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Aaijo", "Zebra"]
b.pop(3)
print(b)

['Apple', 'Ball', 'Cat', 'Fish', 'Aaijo', 'Zebra']

In [1]:
# Nested List (list inside list)

In [2]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(len(a))

3

In [5]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",45,"Bhaktapur"],
    ["Hari",34,"Lalitpur"]]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [7]:
data = []
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name =")
    age = int(input("Enter age ="))
    add = input("Enter add =")
    x = [name, age, add]
    data.append(x)

print(data)

Enter n = 2
Enter name = Nischal
Enter age = 10
Enter add = Ktm
Enter name = Hari
Enter age = 20
Enter add = bhaktapur

[['Nischal', 10, 'Ktm'], ['Hari', 20, 'bhaktapur']]

In [8]:
# Indexing 
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]
print(a[0])
print(a[0][0])

['Ram', 34, 'Kathmandu']
Ram

In [4]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]
a.append(['Sabin', 32, 'Kaski'])
a

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 29, 'Bhaktapur'],
 ['Hari', 20, 'Lalitpur'],
 ['Sabin', 32, 'Kaski']]

In [5]:
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 29, 'Bhaktapur']
['Hari', 20, 'Lalitpur']
['Sabin', 32, 'Kaski']

In [6]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]
a[0][0] = "Ram Prasad"
print(a)

[['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]

In [14]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]
a.remove(['Shyam', 29, 'Bhaktapur'])
a

[['Ram', 34, 'Kathmandu'], ['Hari', 20, 'Lalitpur']]

In [21]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]
del a[0:2]
a

[['Hari', 20, 'Lalitpur']]

In [17]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]
del a[0][0]
a

[[34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]

In [25]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]
del a[1][2]
a

[['Ram', 34, 'Kathmandu'], ['Shyam', 29], ['Hari', 20, 'Lalitpur']]

In [37]:
# search
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh', 'Ram', 'Ram']
search = input("Enter a name =")
if search in a:
    print('Yes')
    print(a.count(search))
else:
    print('No')

Enter a name = Ram

Yes
3

In [66]:
# Search in list
c = 0
d = []
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Kathmandu'], ['Ram', 34, 'Kaski']] 
search = input("Enter a name =")
if search in a:
    print("Yes")
for i in a:
    if search in i:
        print(i)
        c = c+1
print(c)

Enter a name = Ram

['Ram', 34, 'Kathmandu']
['Ram', 34, 'Kaski']
2

In [11]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Kathmandu'], ['Ram', 34, 'Kaski']]
l = len(a)
search = input("Enter a name =")
for i in range(l):
    if search in a[i]:
        print(i)

Enter a name = Ram

0
3

In [13]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Kathmandu'], ['Ram', 34, 'Kaski']]
search = input("Enter a name =")
for i in a:
    if search in i:
        a.remove(i)
print(a)

Enter a name = Ram

[['Shyam', 29, 'Bhaktapur'], ['Hari', 20, 'Kathmandu']]