In [1]:
# SET
# - No indexing
# - Multiple but no duplicate
# - Unordered
# - Mutable

In [3]:
s = set()
print(type(s))

<class 'set'>

In [13]:
s = {1,2,4,5}
print(s)

{1, 2, 4, 5}

In [12]:
s = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
print(s)

{'Dog', 'Cat', 'Ball', 'Fish', 'Apple'}

In [17]:
# Insert data into set
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Ball', 'Cat', 'Apple'}

In [21]:
# Remove 
s = {'Apple', 'Ball', 'Cat'}
s.remove('Apple')
print(s)

{'Ball', 'Cat'}

In [24]:
# There is no any mutable datatype inside set
# No list inside set
# No dictionary inside set
# No set inside set
# There no use of any operator in {}

In [ ]:
# Update
# Union
# Intersection
# Difference

In [23]:
a = {1,2,3,4,5}
b = {6,7,8,9,10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
U = {"Shyam", 'Raju','Jack', 'John', 'Bill', 'Ram', 'Hari', 'Balaram','Steve', 'Ashok', 'Sajan', 'Raj', 'Ram', 'Hari', 'William'}
ms = {'Jack', 'John', 'Bill', 'Ram', 'Hari', 'Balaram'}
apple = {'Steve', 'Ashok', 'Sajan', 'Raj', 'Ram', 'Hari', 'William'}

common = ms.intersection(apple)

merge = ms.union(apple)
print('common HR = ', common)
print('merged HR =', merge)

common HR =  {'Ram', 'Hari'}
merged HR = {'John', 'Steve', 'Sajan', 'Ashok', 'Jack', 'Balaram', 'Bill', 'Ram', 'William', 'Hari', 'Raj'}

In [29]:
print(" Only MS =", ms-apple)

 Only MS = {'John', 'Balaram', 'Bill', 'Jack'}

In [30]:
print("Only Apple =", apple-ms)

Only Apple = {'Steve', 'Sajan', 'Ashok', 'William', 'Raj'}

In [31]:
print("Unemployed =", U-merge)

Unemployed = {'Shyam', 'Raju'}

In [33]:
# subset()
# superset()
# disjoint()