In [1]:
# String
a = "Hello World"
b = 'Hello World'
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = '10'
print(type(a))

<class 'str'>

In [5]:
a = input("Enter a =")
print(type(a))

Enter a = 10

<class 'str'>

In [7]:
# + *
a = 'Hello'
b = ' World'
c = a+b
print(c)

Hello World

In [10]:
a = 'Hello World '
print(a*3)

Hello World Hello World Hello World

In [17]:
a = 'Hello World'
print(a[3])
print(a[0:5])
print(a[0:11:2])

l
Hello
HloWrd

In [11]:
a = 'Hello World'
l = len(a)
for i in range(l):
    print(a[i])

H
e
l
l
o

W
o
r
l
d

In [1]:
a = 'Hello World'
i = 0
l = len(a)
while i<l:
    print(a[i])
    i = i+1

H
e
l
l
o

W
o
r
l
d

In [14]:
# String
name = input("Enter name =")
age = int(input("Enter age ="))
address = input("Enter address =")
info = "Hello World, I am " + name + '.' + ' I am from ' + address + '.' + ' I am ' + str(age) + '.'
print(info)

Enter name = Ram
Enter age = 10
Enter address = Kathmandu

Hello World, I am Ram. I am from Kathmandu. I am 10.

In [20]:
# String Formatting
name = input("Enter name =")
age = int(input("Enter age ="))
address = input("Enter address =")

info = f"Hello World, I am {name}. I am from {address}. I am {age}"
print(info)

Enter name = Ram
Enter age = 10
Enter address = Kathmandu

Hello World, I am Ram. I am from Kathmandu. I am 10

In [21]:
# WAP to store name and phone number of a given people
s = ""
b = int(input("Enter a value ="))
for i in range(b):
    n = input("Enter name =")
    c = input("Enter number =")
    s = s + f"{n} {c} \n"
print(s)

Enter a value = 2
Enter name = Ram
Enter number = 232323232
Enter name = Hari
Enter number = 09029302392

Ram 232323232
Hari 09029302392

In [46]:
# Search in String
a = "Ram Shyam Hari Sita Rabi Nabin Ram Ram Ram".lower()
search = input("Enter string =").lower()
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter string = ram

Yes
4

In [38]:
# Upper
# Lower
a = 'Ram Shyam Hari Sita'
print(a.upper())
print(a.lower())

RAM SHYAM HARI SITA
ram shyam hari sita

In [39]:
a = "Ram Shyam Hari Sita Rabi Nabin Ram Ram Ram".lower()
b = "rAm".lower()
print(a)
print(b)

ram shyam hari sita rabi nabin ram ram ram
ram

In [48]:
# Replace 
a = "Ram Shyam Hari Sita Rabi Nabin Ram Ram Ram"
a = a.replace("Ram", "Rama")
print(a)

Rama Shyam Hari Sita Rabi Nabin Rama Rama Rama

In [49]:
a = "Ram Shyam Hari Sita Rabi Nabin Ram Ramesh Ram"
a = a.replace("Ram", "Rama")
print(a)

Rama Shyam Hari Sita Rabi Nabin Rama Ramaesh Rama

In [ ]:
# LIST