In [ ]:
# Dictionary
# - indexing
# - ordered
# - multiple and duplicate data
# - mutable

In [1]:
a = ()
b = dict()

print(type(a))
print(type(b))

<class 'tuple'>
<class 'dict'>

In [ ]:
# d = {<key>:<value>, <key>:<value>, <key>:<value>}

In [3]:
d = {'a':'Apple', 'b':'Banana', 'c':'Cat'}
print(d["a"])
print(d['b'])
print(d['c'])

Apple
Banana
Cat

In [4]:
print(d)

{'a': 'Apple', 'b': 'Banana', 'c': 'Cat'}

In [7]:
d = {'a':'Apple', 'b':'Banana', 'c':'Cat', 'A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Banana', 'c': 'Cat', 'A': 'Apple'}

In [9]:
# Adding value on dictionary 
d = {}
d['a'] = 'Apple'
d['b'] = 'Banana'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Banana', 'c': 'Cat'}

In [14]:
# Update value in dcitiobary
dic = {'a':'Apple', 'b':'Banana', 'c':'Cat', 'A':'Apple'}
dic['a'] = 'Ant'
print(dic)

{'a': 'Ant', 'b': 'Banana', 'c': 'Cat', 'A': 'Apple'}

In [21]:
# Dictionary on loop 
d = {'a':'Apple', 'b':'Banana', 'c':'Cat', 'A':'Apple'}
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Banana')
('c', 'Cat')
('A', 'Apple')

In [22]:
l = [['a', 'Apple'], 
     ['b', 'Banana'],
     ['c', 'Cat']]
dic = dict(l)
print(dic)

{'a': 'Apple', 'b': 'Banana', 'c': 'Cat'}

In [24]:
# Create
d = {}
n = int(input("Enter n ="))
for i in range(n):
    name = input('Enter name =')
    phone = int(input('Enter phone number ='))
    d[name] = phone

print(d)

Enter n = 2
Enter name = Ram
Enter phone number = 98234234
Enter name = Hari
Enter phone number = 9023848234

{'Ram': 98234234, 'Hari': 9023848234}

In [ ]:
# Read

In [25]:
# Update
d = {'Ram': '983209423423', 'Shyam':'999832984923'}
d['Ram'] = '9840922675'
d

{'Ram': '9840922675', 'Shyam': '999832984923'}

In [ ]:
# Delete
# del pop()

In [26]:
d = {'Ram': '983209423423', 'Shyam':'999832984923'}
del d['Ram']
print(d)

{'Shyam': '999832984923'}

In [29]:
d = {'Ram': '983209423423', 'Shyam':'999832984923'}
b = d.pop('Shyam')
print(d)
print(b)

{'Ram': '983209423423'}
999832984923

In [31]:
# List inside dictionary
info = {'Ram':[98324234234,9842394234],
        'Shyam':[98234234324, 9845390324]}
info

{'Ram': [98324234234, 9842394234], 'Shyam': [98234234324, 9845390324]}

In [32]:
info = {'name':['Ram', 'Shyam'],
        'ntc':[9845932442, 9823432423],
        'ncell':[9823475238, 98023423423]}
info

{'name': ['Ram', 'Shyam'],
 'ntc': [9845932442, 9823432423],
 'ncell': [9823475238, 98023423423]}

In [34]:
print(info['name'][0])
print(info['ntc'][0])
print(info['ncell'][0])

Ram
9845932442
9823475238

In [48]:
i = int(input("Enter index ="))
info = {'name':['Ram', 'Shyam'],
        'ntc':[9845932442, 9823432423],
        'ncell':[9823475238, 98023423423]}
print(info['name'][i])
print(info['ntc'][i])
print(info['ncell'][i])

Enter index = 1

Shyam
9823432423
98023423423

In [62]:
info = {'name':[],
        'ntc':[],
        'ncell':[]}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name =")
    ntc = int(input("Enter ntc number ="))
    ncell = int(input("Enter ncell number ="))
    info['name'].append(name) 
    info['ntc'].append(ntc) 
    info['ncell'].append(ncell)
print(info)

Enter n = 2
Enter name = Hari
Enter ntc number = 984021093812
Enter ncell number = 980019820312
Enter name = shyam
Enter ntc number = 9801239123
Enter ncell number = 988439298423

{'name': ['Hari', 'shyam'], 'ntc': [984021093812, 9801239123], 'ncell': [980019820312, 988439298423]}

In [ ]:
# WAP TO TAKE DATA FROM USER AND CREATE DICT INSIDE LIST ALSO DO CRUD
# WAP TO TAKE DATA FROM USER AND CREATE DICT INSIDE DICT ALSO DO CRUD