In [2]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
host="localhost",
user="root",
password= "",
database = "python_class"
 )
db = database.cursor()

In [3]:
# Write on table
sql = """INSERT INTO student(name, physics, chemistry, math, english, nepali, total, percentage, grade)
VALUES('Akash', 78, 90, 87, 67, 70, 400, 74, 'B');"""
db.execute(sql)
database.commit()

In [4]:
name = input("Enter name =") 
P = float(input("Enter the marks of physics = "))
C = float(input("Enter the marks of chemistry = "))
M = float(input("Enter the marks of Mathematics = "))
E = float(input("Enter the marks of English = "))
N = float(input("Enter the marks of Nepali = "))
T = P + C + M + E + N
percentage = T/5 
if percentage>=80:
    grade = 'A'
elif percentage>=60:
    grade = 'B'
else:
    grade = 'F'

sql = f"""INSERT INTO student (name, physics, chemistry, math, english, nepali, total, percentage, grade)
VALUES ('{name}', {P}, {C}, {M}, {E}, {N}, {T}, {percentage}, '{grade}');"""
db.execute(sql)
database.commit()

Enter name = Dilip
Enter the marks of physics =  58
Enter the marks of chemistry =  58
Enter the marks of Mathematics =  58
Enter the marks of English =  58
Enter the marks of Nepali =  58

In [6]:
sn = int(input('Enter sn ='))
name = input("Enter name =")
sql = f"""UPDATE student SET name = '{name}' WHERE sn = {sn};"""
db.execute(sql)
database.commit()

Enter sn = 5
Enter name = Nikhila

In [7]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (from pandasql) (2.0.34)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26801 sha256=4d811984355531ca4d0d2341b07059e125fc25d9a60ceb2254e1bb99e14cc4ea
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\15\a1\e7\6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [11]:
# delete in sql
sn = int(input("Enter sn ="))
sql = f"""DELETE from student WHERE 'sn' = {sn}"""
db.execute(sql)
database.commit()

Enter sn = 5